<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form action="/post" method="post">
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" id="title" name="title" placeholder="제목을 입력하세요" maxlength="50">
            <br>
            <label for="content">내용</label>
            <textarea id="content" name="content" placeholder="내용을 입력하세요" cols="40" rows="10" maxlength="500"></textarea><br>
        </div>
        <button type="submit">등록</button>
    </form>
</div> <!-- /container -->
</body>
</html>